
.ajax-loader {
	height: 50px;
	background-image: url('../img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.navbar .brand {
	height: 32px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.request .votes.disabled {
	opacity: 0.65;
}

.request .votes > .count {
	margin-bottom: 0;
	color: #006dcc;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
}

.request .votes > .description {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 27px;
}

.request .btn.pull-right,
.comment .btn.pull-right {
	margin-left: 4px;
	margin-bottom: 4px;
}

#new-request-link a[href="#new-item"] {
	color: #000000;
}

@media (max-width: 480px) {
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
		display: inline-block;
		width: 130px;;
	}
}

@media (max-width: 979px) {
	.container {
		width: auto;
		padding: 0 20px;
	}

	.row-fluid {
		width: 100%;
	}

	.row {
		margin-left: 0;
	}

	.row > [class*="span"], .row-fluid > [class*="span"] {
		float: none;
		display: block;
		width: auto;
		margin: 0;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	#request-list .request .buttons {
		width: 100%;
	}
}
