
<div id="comment-list">

</div>

<div id="new-comment" style="display: none;">
	<div class="comment new">
		<div class="row-fluid">
			<div class="span1"></div>
			<div class="span10">
				<form class="form">
					<blockquote>
						<textarea class="" style="width: 100%;" rows="3" placeholder="Comment..."></textarea>
						<small>
							<input class="span2" type="text" placeholder="Name..." />
						</small>
					</blockquote>

					<button class="btn btn-danger pull-right" type="reset">Cancel</button>
					<button class="btn btn-success pull-right" type="submit">Submit</button>
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="span1"></div>
		</div>
	</div>
</div>
