
<div id="new-request-link">
	<div class="alert alert-success">
		<div class="row-fluid">
			<div class="span12">
				<a href="#new-request" data-toggle="collapse">
					<div class="open-form">
						<i class="icon icon-plus"></i>
						<span>New Request</span>
					</div>
					<div class="close-form" style="display: none;">
						<i class="icon icon-minus"></i>
						<span>Close</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div id="new-request" style="display: none;">
	<div class="well request new">
		<div class="row-fluid">
			<div class="span2 votes disabled">
				<p class="count">0</p>
				<p class="description">Votes</p>
			</div>

			<div class="span7">
				<form class="form">
					<blockquote>
						<input class="" style="width: 100%;" type="text" placeholder="Title..." />
						<textarea class="" style="width: 100%;" rows="3" placeholder="Description..."></textarea>
						<small>
							<span>posted by</span>
							<input class="span2" type="text" placeholder="Name..." />
						</small>
					</blockquote>

					<button class="btn btn-danger pull-right" type="reset">Cancel</button>
					<button class="btn btn-success pull-right" type="submit">Submit</button>
					<div class="clearfix"></div>
				</form>
			</div>

			<div class="span3 buttons">
				<a class="btn btn-info pull-right disabled" href="#comment">
					<i class="icon-white icon-comment"></i>
					<span>Comment</span>
				</a>

				<a class="btn pull-right disabled" href="#vote">
					<i class="icon-plus"></i>
					<span>Vote</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div id="request-list">

</div>
